<%= form_for @job do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, size: '60x6'%>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>
